.about{
    position: relative;

    padding: 200px 0px;
    .background{
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;


        opacity: 0.1;
        
        overflow-x: hidden;
    }
    .grid{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-gap: 70px;
        align-items: center;
        
        .grid__item{
            .item__left{
                span{
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                h2{
                    font-size: 2.6rem;
                    line-height: normal;
                    color: $primary;
                }
                p{
                    font-size: 1.1rem;
                    padding-bottom: 10px;
                }
            }
            .item__right{
                img{
                    border-radius: 15px;
                    box-shadow: $box-shadow;
                    filter: $shadow;
                }
            }
        }
    }
}

@media(max-width: 1100px) {
    .about{
        padding-bottom: 100px;
        .background{
            top: 0;
        }
        .grid{
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
            .grid__item{
                .item__left{
                    
                    span{
                        font-size: 1.4rem;
                    }
                    h2{
                        font-size: 1.8rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .item__right{

                }
            }
        }
    }
}
@media(max-width: 770px) {
    .about{
        padding-top: 100px;

        .background{
        }
        .grid{
            .grid__item{
                .item__left{
                    p{
                        padding: 15px 0px;
                    }
                }
                .item__right{

                }
            }
        }
    }
}