$primary: #1d662d;
$black: rgba(0, 0, 0, 0.95);

$shadow: drop-shadow(0 0 0.75rem rgba(26, 26, 26, 0.192));
$box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);

::-webkit-scrollbar {
    width: 10px;
    background: rgba(250, 250, 250, 0.932);
  }
::-webkit-scrollbar-thumb {
    // border-radius: 0.5rem;
    background: $primary;
}
::-webkit-scrollbar-track {
    border: 1px solid rgba(255, 255, 255, 0.05);
}
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}