.contact{
    position: relative;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding-top: 50px;

    height: 400px;
    .container{
        .title{
            padding: 50px 10px;
            text-align: center;

            span{
                font-weight: bolder;
                font-size: 1.5rem;
            }
            h2{
                font-size: 3rem;
                color: #00891f;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 770px) {
    .contact{
        height: auto;
        .container{
            padding: 0;
            .title{
                padding: 0 10px;
                span{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2.6rem;
                    line-height: 1.15;
                    padding-bottom: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }
}