.contact{
    position: relative;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    padding-top: 50px;

    height: auto;
    .container{
        .title{
            padding: 50px 10px;
            text-align: center;

            span{
                font-weight: bolder;
                font-size: 1.5rem;
            }
            h2{
                font-size: 3rem;
                color: #00891f;
            }
            p{
                font-size: 1.2rem;
            }
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            padding-bottom: 100px;

            .grid__iframe{
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 550px;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    filter: $shadow;
                    border-radius: 15px;
                    transition: transform 200ms;
                    &:hover{
                        transform: scale(1.025);
                    } 
                }
            }
            .grid__items{
                .items__list{
                    columns: 2;
                    column-gap: 20px;
                    .list__item{
                        position: relative;

                        break-inside: avoid;
                        margin-bottom: 20px;
                        // padding: 20px;

                        // background: rgba(255, 255, 255, 0.4);
                        backdrop-filter: blur(20px);
                        box-shadow: $box-shadow;
                        border-radius: 15px;
                        transition: transform 200ms, background 200ms;
                        &:hover{
                            transform: scale(1.05);
                            background: rgba(255, 255, 255, 0.7);
                        }
                        // &:nth-child(3){
                        //     width: 300px;
                        // }
                        // &:nth-child(2){
                        //     max-width: 250px;
                        //     height: 125px;
                        // }
                        // &:nth-child(4){
                        //     height: 125px;
                        // }
                        .item__title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            background: rgba(255, 255, 255, 0.5);
                            padding: 10px 20px;
                            border-radius: 15px 15px 0px 0px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            svg{
                                padding: 8px;

                                height: 40px;
                                width: 40px;
                                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

                                background: rgba(56, 241, 96, 0.05);
                                border-radius: 50%;
                            }
                            h3{
                                // margin-left: 20px;
                                font-size: 1.4rem;
                                font-weight: 600;
                                color: #00891f;
                            }
                        }
                        .item__description{
                            padding: 20px;
                            p{

                                width: 100%;
                                a{
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                span{
                                    position: absolute;
                                    right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1100px) {
    .contact{
        .container{
            .grid{
                display: grid;
                grid-template-columns: 1fr;
                .grid__iframe{
                    order: 1;
                    iframe{
                        &:hover{
                            transform: scale(1.0125);
                        }
                    }
                }
                .grid__items{
                    .items__list{
                        .list__item{
                            &:hover{
                                transform: scale(1.025);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 770px) {
    .contact{
        height: auto;
        .container{
            .title{
                padding: 0 10px;
                span{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2.4rem;
                    line-height: 1.15;
                    padding-bottom: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            .grid{
                grid-gap: 10px;
                margin-top: 50px;
                padding-bottom: 50px;
                .grid__iframe{
                    // order: initial;
                    height: 150px;
                    iframe{
                        &:hover{
                            transform: scale(1.025);
                        }
                    }
                }
                .grid__items{
                    .items__list{
                        columns: 1;
                        .list__item{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}