.nav{
    display: flex;
    white-space: nowrap;

    align-items: center;

    padding: 0 40px;
    margin: 0 auto;

    width: 1220px + 200px;
    height: 80px;
    .nav__logo{
        .logo__link{
            cursor: pointer;
            
            img{
                width: 120px;
            }
        }
    }
    .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        .list__item{
            padding: 0px 40px;
            &:last-child{
                // padding-right: 0px;
            }
            &.split{
                margin-left: auto;
            }
            .item__link{
                font-size: 0.875rem;
                font-weight: 500;
                white-space: nowrap;

                transition: color 200ms;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    .nav__phone{
        padding-left: 40px;
    }
    .nav__menu{
        display: none;
    }
}

@media (max-width: 1140px) {
    .nav{
        .nav__list{
            .list__item{
                padding: 0 20px;
            }
        }
        .nav__phone{
            padding-left: 20px;
        }
    }
}
@media (max-width: 940px) {
    .nav{
        padding: 0 20px;
        .nav__list{
            .list__item{
                padding: 0 10px;
            }
        }
        .nav__phone{
            padding-left: 10px;
        }
    }
}
@media(max-width: 770px) {
    .nav{
        position: relative;
        .nav__logo{
            .logo__link{
                img{

                }
            }
        }
        .nav__list{
            .list__item{
                width: 0px;

                transform: scale(0);
            }
        }
        .nav__phone{
            position: absolute;
            right: 75px;
        }
        .nav__menu{
            display: initial;
            position: absolute;
            top: 30px;
            right: 20px;
            button{
                cursor: pointer;

                margin-left: 2rem;

                font-size: 2.5rem;
                font-weight: bold;

                background: none;
                border: none;
            }
        }
        .nav__menu{
            display: initial;
            button{
                cursor: pointer;

                margin-left: 10px; 
                background: none;
                border: none;
                padding: 0;
                
                width: 28px;
                height: 28px;
                display: block; 
                position: relative;
                span {
                    display: block;
                    width: 28px;
                    height: 4px; 
                    background-color: #333;
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    left: 0;
                    transform-origin: 50% 50%;
                    &:nth-child(1) {
                         top: 0px;
                    }
                    &:nth-child(2) { 
                        top: 8px; 
                    }
                    &:nth-child(3) {
                        top: 16px; 
                    }
                }
            }
        }
        &.open{
            .nav__logo, .nav__phone, .nav__menu {
                height: 80px;
                display: flex;
                align-items: center;
            }
            .nav__list{
                max-height: 400px; 
                padding-bottom: 10px;
            }
            .nav__menu{
            }
            .nav__menu button span:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .nav__menu button span:nth-child(2) {
                opacity: 0;
                transform: scaleX(0); 
            }
            .nav__menu button span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
        &.open{
            display: flex;
            flex-direction: column;
            height: auto;
            .nav__logo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 80px;
                width: 100%;
            }
            .nav__list{
                display: flex;
                flex-direction: column;

                padding-bottom: 10px;

                border-top: 1px solid rgba(0, 0, 0, 0.1);
                .list__item{
                    display: initial;

                    width: auto;

                    transform: scale(1);

                    padding: 10px 0px;
                    transition: all 300ms;
                    &.split{
                        margin-left: initial;
                    }
                    .item__link{
                        
                    }
                }
            }
            .nav__menu{
                display: initial;
            }
        }
    }  
}