.reviews{
    position: relative;

    height: auto;
    .container{
        position: relative;
        padding-bottom: 150px;
        .title{
            padding-top: 150px;
            span{
                font-weight: bolder;
                font-size: 1.2rem;
            }
            h2{
                font-size: 3rem;
                line-height: 1.4;
                color: $primary;
            }
            p{
                font-size: 1.2rem;
            }
        }
        .google__review{
            position: absolute;
            top: 175px;
            right: 40px;
            transition: filter 200ms;
            .review__image{
                
                width: 280px;
                box-shadow: $box-shadow;
            }
            &:hover{
                filter: brightness(95%);
            }
        }
        .grid{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;

            margin-top: 100px;
            .grid__item{
                overflow: hidden;

                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                padding: 20px;

                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(10px);
                box-shadow: $box-shadow;
                border-radius: 15px;

                transition: transform 200ms, background 200ms;
                &:hover{
                    transform: scale(1.05);
                    background: rgba(255, 255, 255, 0.7);
                }
                span{
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
                }
                .item__title{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    width: 100%;
                    h3{
                        padding-right: 10px;
                        font-size: 1.6rem;
                        color: $primary;
                    }
                    hr{
                        width: 50px;
                        border: 1px solid black;
                        margin: 0px 10px;
                    }
                    span{
                        margin-left: auto;
                    }
                }
                p{
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    padding-top: 10px;
                    margin-top: 10px;

                    font-style: italic;
                    font-size: 1.1rem;
                }
                img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    

                    padding: 20px;

                    opacity: 0.025;
                }
            }
        }
        .background{
            z-index: -1;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 700px;

            opacity: 0.05;
            
            overflow-x: hidden;
        }
    }
}

@media (max-width: 1100px) {
    .reviews{
        .container{
            .title{
            }
            .google__review{
                display: none;
                position: initial;

                .review__image{
                    width: 200px;
                }
            }
            .grid{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                margin-top: 50px;
                .grid__item{
                    width: 100%;
                    transition: transform 100ms;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
        }
    }

}

@media (max-width: 770px) {
    .reviews{
        height: auto;
        .container{
            padding-bottom: 50px;
            .title{
                padding: 0px 10px;
                padding-top: 50px;
                span{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2.4rem;
                    line-height: 1.15;
                }
                p{
                    padding-top: 10px;

                    font-size: 1rem;
                }
            }
            .google__review{
                display: none;
            }
            .grid{
                .grid__item{
                    .item__title{
                        span{
                            font-size: 1rem;
                        }
                        h3{
                            font-size: 1.4rem;
                        }
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}