.services{
    .container{
        padding: 0;
    }
}
.services{
    position: relative;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);

    height: 1000px;
    margin: 0 auto;

    padding: 50px 0px;
    .title{
        padding: 50px 10px;
        text-align: center;

        span{
            font-weight: bolder;
            font-size: 1.5rem;
        }
        h2{
            font-size: 3rem;
            color: #00891f;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .image{
        filter: $shadow blur(2px) blur(4px) brightness(0.8);
        img{
            border-radius: 15px;
        }
    }
    .carousel{
        overflow-x: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        perspective: 1600px;

        width: 100%;
        height: 660px;
        .carousel__card{
            cursor: pointer;

            z-index: 5;
            position: absolute;

            width: 360px;
            height: 545px;

            text-align: center;
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(20px);
            border-radius: 15px;
            box-shadow: $box-shadow;
            transition: transform 250ms ease, opacity 250ms ease, background 250ms ease;
            &.one {
                transform: translateX(-590px) translateZ(-300px) scale(0.7);
                opacity: 0.35;
                z-index: 1;
            }
            &.two {
                transform: translateX(-285px) translateZ(-150px) scale(0.8);
                opacity: 0.6;
                z-index: 2;
            }
            &.three {
                cursor: initial;
                transform: translateX(0px) translateZ(0px) scale(0.9);
                opacity: 1;
                z-index: 5;
                &:hover {
                    background: rgba(255, 255, 255, 0.8);
                    transform: translateX(0px) translateZ(0px) scale(1) perspective(1px); // Add a second 'scale' or use 'rotateY' etc.
                    -webkit-font-smoothing: subpixel-antialiased;
                }
            }
            &.four {
                transform: translateX(285px) translateZ(-150px) scale(0.8);
                opacity: 0.6;
                z-index: 2;
            }
            &.five {
                transform: translateX(590px) translateZ(-300px) scale(0.7);
                opacity: 0.35;
                z-index: 1;
            }
            &:hover{
                background: rgba(29, 102, 45, 0.05);
            }
            span{
                font-size: 1rem;
                font-weight: 500;
            }
            .card__image{
                mask-image: linear-gradient(black 50%, transparent);
                img{
                    mask-image: linear-gradient(black 80%, transparent);

                    border-radius: 15px 15px 0px 0px;
                    transition: border-radius 200ms;
                }
            }
            .card__text{
                .text__title{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 0px 10px;
                    h3{
                        font-size: 1.3rem;
                        color: $primary;
                    }
                    hr{
                        width: 50px;
                        border: 2px solid $primary;
                        margin: 0px 10px
                    }
                }
                p{
                    padding: 10px 20px;
                    font-size: 1rem;
                    &:last-child{
                        padding-top: 0px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    .carousel__controls{
        display: flex;
        justify-content: space-between;

        padding: 0px 10px;
        .carousel__navigation{
            cursor: pointer;

            display: flex;
            flex-direction: row;
            gap: 20px;
            .nav__link{
                border-bottom: 2px solid transparent;
                transition: color 200ms, border-bottom 200ms;
                padding: 0px 1px;
                &.active {
                    color: $primary; 
                    font-weight: 700;
                    border-bottom: 2px solid $primary; 
                    padding: 0px;
                }
                &:hover{
                    color: $primary; 
                }
            }
        }
        .control__button {
            cursor: pointer;
            z-index: 2;

            padding: 8px 15px;

            color: white;
            font-weight: 600;
            border-radius: 50%;
            background: lighten($color: $primary, $amount: 45%);

            transition: transform 200ms, background 200ms;
            &:hover{
                transform: scale(1.2);
                background: lighten($color: $primary, $amount: 35%);
            }
        }
    }
}

@media (max-width: 770px) {
    .services{
        height: auto;
        .container{
            padding: 0;
            .title{
                padding: 0 10px;
                span{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2.6rem;
                    line-height: 1.15;
                    padding-bottom: 1rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            .carousel__controls{
                position: relative;

                align-items: center;
                margin-top: 15px;

                padding: 0 10px;

                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-top: 15px;
                .control__button{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 70px;
    
                    // width: 30px;
                    // height: 30px;

                    &:first-child{
                        margin-right: 5px;
                    }
                    &:last-child{
                        margin-left: 5px;
                    }
                    &:first-child{
                        left: 15px;
                    }
                    &:last-child{
                        right: 15px;
                    }
                }
                .carousel__navigation{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 10px 15px;

                    width: 100%;
                    .nav__link{
                        font-size: 0.9rem;
                    }
                }
            }
            .carousel{
                height: 450px;
                .carousel__card{
                    width: 280px;
                    height: 410px;
                    .card__image{

                    }
                    .card__text{
                        span{

                        }
                        .text__title{
                            padding: 0;
                            hr{
                                width: 23px;
                            }
                            h3{
                                font-size: 1.3rem;
                            }
                        }
                        p{
                            padding: 5px 10px;
                            font-size: 0.8rem;
                        }
                    }
                    &.one {
                        transform: translateX(-590px) translateZ(-300px) scale(0.7);
                    }
                    &.two {
                        transform: translateX(-285px) translateZ(-150px) scale(0.8);
                    }
                    &.three {
                        transform: translateX(0px) translateZ(0px) scale(1);
                        &:hover {
                            transform: translateX(0px) translateZ(0px) scale(1) perspective(1px); // Add a second 'scale' or use 'rotateY' etc.
                        }
                    }
                    &.four {
                        transform: translateX(285px) translateZ(-150px) scale(0.8);
                    }
                    &.five {
                        transform: translateX(590px) translateZ(-300px) scale(0.7);
                    }
                }
            }
        }
    }
}
