@import './background.scss';
@import './_colors.scss';
@import './_nav.scss';
@import './_hero.scss', './stats.scss', './about.scss', './services.scss', './reviews.scss', './contact.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
    color: $black;
}

body{
    // background-color: $primary-color;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    position: relative;
    min-height: 4000px;
}
button{
    border: none;
    background: none;
}

.container{
    padding: 0px 40px;
    margin: 0 auto;

    max-width: 1320px;
}

header{
    z-index: 10;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 100%;

    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(20px);
}
footer{
    padding: 20px 0px;
    text-align: center;
    font-weight: 500;

    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(20px);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.05);
    p{
        color: black;
    }
}
img{
    user-select: none;
    pointer-events: none; 
}















@media (max-width: 940px) {
    .container{
        padding: 0px 20px;
        width: 100%;
    }
}