@import './background.scss';
@import './_colors.scss';
@import './_nav.scss';
@import './_hero.scss', './stats.scss', './about.scss', './services.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 200px;
    color: $black;
}

body{
    // background-color: $primary-color;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    position: relative;
    min-height: 4000px;
}
button{
    border: none;
    background: none;
}

.container{
    padding: 0px 20px;
    margin: 0 auto;

    max-width: 1320px;
}
header{
    z-index: 10;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 100%;

    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(20px);
}




    .reviews{
        position: relative;
        margin: 200px 0px;
        .container{
            position: relative;
            margin: 0 auto;
            width: 1320px;
            .container__background{
                z-index: 0;
                position: absolute;
                top: 0;
                right: -300px;
                opacity: 0.05;
                overflow-x: hidden;
            }
        }
        .container__center{
            position: relative;
            padding: 140px 0px;
            text-align: left;
            span{
                font-size: 1.5rem;
                font-weight: bolder;
            }
            h2{
                font-size: 3rem;
                color: $primary;
            }
            p{
                font-size: 1.2rem;
            }
            a{
                    cursor: pointer;
                    position: absolute;
                    top: 140px;
                    right: 0px;
                    width: 400px;
                img{
                    width: 400px;
                }
            }
        }
        .container__reviews{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            .reviews__item{
                display: flex;
                flex-direction: column;
                justify-content:  space-between;
                padding: 20px;

                background: rgba(255, 255, 255, 0.8);
                filter: drop-shadow(0 0 0.75rem rgba(26, 26, 26, 0.192));
                border-radius: 15px;
                h3{
                    text-align: center;
                    padding-bottom: 20px;
                }
                p{
                    font-style: italic;
                }
                span{
                    font-weight: 500;
                }
            }
        }
    }
    .contact{
        padding: 100px 0px;
         position: relative;
        overflow: hidden;
        margin-top: 200px;

        height: 1200px;
        
        background: rgb(255, 255, 255);
        background: hsla(0, 0%, 100%, 0.74);
                backdrop-filter: blur(20px);
                
        // &::after {
        //         content: "";
        //         position: absolute;
        //         inset: 0;
        //         background-image: url('./image.jpg');
        //         background-size: cover;
        //         background-position: center;
        //         opacity: 0.05;
        //         pointer-events: none;
        //         z-index: 0;
        //                 // backdrop-filter: blur(50px);
        //         }
        //             * {
        //     position: relative;
        //     z-index: 1;         /* content above overlay */
        //     }
        .container{
            z-index: 10;
            margin: 0 auto;
            width: 1320px;
            .container__background{
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: absolute;
                top: 0;
                
                opacity: 0.03;
                overflow-x: hidden;
                transform: scale(1.4);
            }
            .container__center{
                padding-top: 50px;

                text-align: center;
                span{
                    font-weight: bolder;
                    font-size: 1.5rem;
                }
                h2{
                    font-size: 3rem;
                    color: $primary;
                }
            }
            .container__items{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px;
                margin-top: 100px;
                iframe{
                    width: 700px;
                    height: 550px;
                    filter: drop-shadow(0 0 0.75rem rgba(26, 26, 26, 0.192));
                }
                .items__text{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    flex-direction: column;
                    gap: 20px;

                    h2{
                        color: #080808;
                        font-size: 2rem;
                        
                    }
                    .text__title{
                        
                        text-shadow: 1px 1px 2px rgb(236, 236, 236);

                        padding: 15px;
                        height: auto;
                        background: rgb(241, 241, 241);
                        border-radius: 15px;
                        &:nth-child(1){
                            height: 160px;
                        }
                        &:nth-child(2){
                            height: 110px;
                        }
                        &:nth-child(3){
                            height: 260px;
                        }
                        &:nth-child(4){
                            height: 110px;
                        }
                        p{
                            padding-left: 60px;
                            a{
                                text-decoration: underline;
                            }
                        }
                        .title__title{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding-bottom: 1px;
                            svg{
                                width: 48px;
                                height: 48px;

                                background: lighten($color: $primary, $amount: 60%);
                                padding: 10px;
                                border-radius: 50%;
                            }
                        }
                        .title__group{
                            position: relative;

                            width: 300px;
                            span{
                                position: absolute;
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
    }















@media (max-width: 940px) {
    .container{
        padding: 0px 10px;
        width: 100%;
    }
}